/********************************** Global **********************************/
body {
    font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /*vertical-align: baseline;*/
    background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

li {
    list-style: none;
}

.margin-b-180 {
    margin-bottom: 180px;
}

.margin-t-b-160 {
    margin-top: 160px;
    margin-bottom: 160px;
}

/*.margin-t-160 {*/
/*margin-top: 160px;*/
/*}*/

/*Hero*/
.margin-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.margin-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.margin-t-120 {
    margin-top: 120px;
}

.margin-t-80 {
    margin-top: 80px;
}

.margin-b-80 {
    margin-bottom: 80px;
}

.margin-t-60 {
    margin-top: 60px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-r-40 {
    margin-right: 40px;
}

.margin-l-40 {
    margin-left: 40px;
}

/*.margin-b-40 {*/
/*margin-bottom: 40px;*/
/*}*/

.margin-20 {
    margin: 20px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-r-20 {
    margin-right: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.sub-heading {
    font-size: 30px;
    margin-bottom: 28px;
    font-weight: 400;
    line-height: 1.4;
}

.body-heading {
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    line-height: 1.7;
    margin-bottom: 10px;
}

/*Nav*/
body.no-scroll {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden !important;
    height: 100% !important;
}

nav {
    background: #fff;
    top: 0;
    display: block;
    width: 100%;
    z-index: 999 !important;
    max-height: 60px;
    height: 100%;
    box-shadow: inset 0 -1px 0 #eee;
    position: sticky;
}

.nav-main {
    overflow-y: hidden;
    transition: max-height .3s;
}

.nav-main .nav-list {
    overflow-y: hidden;
    position: static;
}

.nav-list {
    top: 0;
    height: 100%;
    max-width: 980px;
    margin: auto;
}

.nav-main .nav-list .list-item a {
    /*padding: 0 20px;*/
    color: #000;
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    font-weight: 400;
}

.nav-main .nav-list > li {
    display: block;
}

.nav-list > li:first-child {
    opacity: 1;
}

.nav-main.open .nav-list > li {
    opacity: 1;
}

.nav-main.open .nav-list > li:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding-left: 20px;
}

.nav-main.open {
    max-height: calc(100% - 60px);
    overflow: hidden;
}

.nav-main.open .nav-list {
    pointer-events: all;
    overflow-y: scroll;
    padding-top: 61px;
}

.nav-main.open .nav-list > li {
    opacity: 1;
}

.nav-list > li {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    user-select: none;
    transition: opacity .2s ease;
}

.nav-list a {
    color: #000;
    display: inline-block;
    line-height: 1.3;
    width: 100%;
    transition: color .2s ease;
}

.nav-main .nav-icon {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    height: 60px;
    width: 58px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    vertical-align: middle;
}

.wrapper .button {
    padding: 16px 24px 15px;
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 85, 255, .3);
    border: none;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.wrapper .blue-button {
    background-color: #0055FF;
    color: #fff;
}

.wrapper .big-card {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .05), 0 5px 15px rgba(0, 0, 0, .05);
    border-radius: 4px;
    background-color: orchid;
}

/* Events */

#events .event {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #FCF1F1;
    padding: 90px;
    text-align: left;
    display: block;
}

#events .event-heading {
    text-align: left;
    color: #000 !important;
}

.event .rounded-image {
    width: 220px;
    margin: 0 auto 40px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .07), 0 1px 0 0 rgba(0, 0, 0, .07);
    border-radius: 58px;
}

.event .event-date {
    color: #EB3569;
}

.event-location {
    color: #05f;
}

.event-date:before {
    content: url(../../assets/calendar.svg);
    vertical-align: sub;
    margin-right: 10px;
}

.event-location:before {
    content: url(../../assets/map-pin.svg);
    vertical-align: sub;
    margin-right: 10px;
}

.event .event-info {
    color: #222;
    vertical-align: baseline;
    margin-bottom: 40px;
}

/*Hackathon*/

.black-background {
    background-color: #000;
}

.wrapper .white-heading {
    color: #fff;
}

#hackathon .hackathon-info {
    min-width: 1000px;
}

.wrapper .small-white {
    color: #CCCCCC;
}

#team .team-moto {
    max-width: 1000px;
    width: 100%;
}

/*Features and Hackathon features*/
.features .feature, .features .feature-info {
    text-align: center;
}

/*Request event*/
.width-x {
    max-width: 400px;
}

input[type=text].input-l, textarea.input-l, input[type=email].input-l {
    font-size: 18px;
    padding: 12px 16px;
}

form input[type=text], form input[type=email] {
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #eee;
    margin: 0;
    line-height: normal;
    border: none;
}

form {
    text-align: center;
}

input[type=text]:focus, textarea:focus, input[type=email]:focus {
    box-shadow: inset 0 0 0 1px #05f;
}

.red-color {
    color: orangered !important;
    margin-bottom: 8px;
}

/*Textarea Placeholder*/
::-webkit-input-placeholder { /* Chrome */
    color: #cacaca;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #cacaca;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #cacaca;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #cacaca;
    opacity: 1;
}

/********************************** Footer **********************************/

#footer .footer-heading {
    /*font-weight: 900;*/
    /*font-size: 57px;*/
    /*line-height: 1.2;*/
    /*margin-bottom: 20px;*/
    max-width: 450px;
    width: 100%;
    color: #fff;
    margin-top: 80px;
}

#footer .footer-need-help {
    font-size: 24px;
    margin-bottom: 28px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 550px;
    text-align: center;
    width: 100%;
    color: #CCCCCC;
}

#footer {
    background-color: #000;
}

#footer .social-media {
    text-align: center;
}

#footer .footer-icons {
    color: #313131;
}

#footer .footer-signature {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    color: #808080;
    margin-top: 120px;
    margin-bottom: 30px;
}

#footer .footer-we {
    color: #CCCCCC;
}

/********************************** Media Queries **********************************/

/*Extra small devices (portrait phones, less than 576px)*/
/* Iphone 6 Plus*/
@media (max-width: 575.98px) {

    h1 {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 900;
        margin-bottom: 20px;
        color: #000;
    }

    h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 21px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 8px;
    }

    .mobile-t-margin {
        margin-top: 40px;
    }

    .sub-heading {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.4;
    }

    #footer .footer-heading {
        max-width: 250px;
    }

    #footer .footer-need-help {
        font-size: 21px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
/* Iphone 6 Plus landscape*/
@media (min-width: 576px) and (max-width: 767.98px) {

    h1 {
        font-size: 48px;
        line-height: 1.2;
        font-weight: 900;
        margin-bottom: 20px;

    }

    h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 21px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 8px;
    }

    .mobile-t-margin {
        margin-top: 40px;
    }

}

/*Medium devices (tablets, 768px and up)*/
/* Amzon Kindle landscape and Ipad landscape*/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 48px;
        line-height: 1.1;
        font-weight: 900;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 900;
        font-size: 57px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 21px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 8px;
    }

    .nav-icon {
        visibility: visible;
    }

}

/*Large devices (desktops, 992px and up)*/
/* Ipad Mini 2 */
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1 {
        font-size: 57px;
        line-height: 1.1;
        font-weight: 900;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 900;
        font-size: 57px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 8px;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
/* Kindle */
@media (min-width: 1200px) {

    h1 {
        font-size: 72px;
        line-height: 1.2;
        font-weight: 900;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 900;
        font-size: 57px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 30px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .wrapper .lead {
        max-width: 950px;
    }

    /*Nav*/
    nav {
        position: fixed;
        padding: 0 20px;
        font-size: 16px;

    }

    .nav-main {
        overflow: visible;
    }

    .nav-main .nav-list {
        display: flex;
        background: 0 0;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        border: none;
    }

    .nav-main .nav-list a {
        font-weight: 400;
        z-index: 100;
        padding: 20px 20px;
    }

    .nav-icon {
        visibility: hidden;
    }

    .nav-logo {
        margin-right: auto;
    }

}